<li id="zndbx_sisu-<%= zndbx_sisu.id %>">
  <span><%=zndbx_sisu.sigla%></span>
  <span><%=zndbx_sisu.local_de_oferta%></span>
  <span><%=zndbx_sisu.turno%></span>
  <span><%=zndbx_sisu.nota_de_corte%></span>
</li>